@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  background-image: url(bg1.jpg);
  flex-direction: column;
}

.button {
    margin: 112px 92px;
    height: 152px;
    width: 171px;
    border: 4px solid white;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 73px;
    font-size: 1.23rem;
  }


.button:hover {
  background-color: rgb(255, 177, 60);
}

.btncircle {
  display: flex;
  justify-content: center;
  width: 100%;
}

#stopwatch {
  text-align: center;
  font-size: 2em;
  color: white;
  padding: 34px 115px;
  border: 9px solid;
  border-radius: 26px;
  background-color: #276bff;
}

.lap-container {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  overflow-y: auto;
  max-height: 200px;
  width: 100%;
}

.lap {
  padding: 10px;
  border-bottom: 1px solid white;
}
